@use "../utils/mixins" as *;
@use "../utils/placeholders" as *;
@use "../utils/constants" as *;

.employee {
  padding: 32px 0 35px 35px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}

.employee-wrapper {
  padding-right: 25px;
}

.employee__name {
  color: $color-text-primary;
  margin: 0;
  @include font(1.6rem, 2.6rem, 700);
}

.employee__role {
  margin: 0;
  @include font(1.4rem, 1.8rem, 400);
}

.employee__email {
  display: block;
  margin: 0;
  @include font(1.4rem, 2.6rem, 400);
}

.employee__photo {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0px;
  right: -60px;
}
