@use "../utils/mixins" as *;
@use "../utils/placeholders" as *;
@use "../utils/constants" as *;

.header {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 15px 0 17px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__buttons {
  display: flex;
  gap: 17px;
}

.header__navigation {
  min-width: 303px;
}
