@use "../utils/mixins" as *;
@use "../utils/placeholders" as *;
@use "../utils/constants" as *;

.icon {
  cursor: pointer;
  display: inline-block;

  &--play {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-image: url("/assets/icons/triangle.svg");
    vertical-align: sub;
    @extend %transition;
  }

  &--phone {
    width: 25px;
    height: 25px;
    margin-right: 9px;
    background-image: url("/assets/icons/phone.svg");
    vertical-align: sub;
  }

  &--mail {
    width: 25px;
    height: 25px;
    margin-right: 9px;
    background-image: url("/assets/icons/email.svg");
    vertical-align: sub;
  }
}

.icon__square {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  background-repeat: no-repeat;
  background-position: center;

  &--purple {
    background-image: url("/assets/icons/arrow.svg");
    background-color: $color-icon-purple;
  }

  &--yellow {
    background-image: url("/assets/icons/curve.svg");
    background-color: $color-icon-yellow;
  }

  &--red {
    background-image: url("/assets/icons/heart.svg");
    background-color: $color-icon-red;
  }

  &--blue {
    background-image: url("/assets/icons/sand-clock.svg");
    background-color: $color-icon-blue;
  }
}
