@use "../utils/mixins" as *;
@use "../utils/placeholders" as *;
@use "../utils/constants" as *;

.tools {
  padding-top: 82px;
}

.tools__header {
  text-align: center;
  margin: auto;
  max-width: 462px;
  color: $color-header-primary;
}

.tools__wrapper {
  padding: 70px 0 42px;
}

.tool__icon {
  margin-bottom: 30px;
}
