$color-light: #ffffff;
$color-text-primary: #544837;
$color-header-primary: #2f281e;
$color-tag-primary: #f5f5f5;
$color-tag-secondary: #d7d7d7;
$color-accent: #ff9900;
$color-button-primary: #173a56;
$color-button-secondary: #bcd0e5;
$color-button-hover: #ff7549;
$color-link-primary: #1943ef;
$color-placeholder-primary: #c6c6c6;
$color-placeholder-error: #f03e3d;
$color-icon-blue: #4dadf7;
$color-icon-purple: #7752be;
$color-icon-red: #f03e3d;
$color-icon-yellow: #fab005;
$color-background: #ffeee1;
$color-background-error: #fff0f0;
$color-modal-overlay: rgba(80, 80, 80, 0.40);

$content-width: 1197px;
$tablet-width: 768px;
$mobile-width: 414px;
$mobile-small-width: 320px;
