@use "../utils/constants" as *;

%transition {
  transition: all 0.3s ease-out;
}

%font-primary {
  font-family: "Open Sans", sans-serif;
}

%font-additional {
  font-family: "Poppins", sans-serif;
}

%outline {
  outline: 1px solid red;
  outline-offset: -1px;
}

%hamburger-line {
  content: "";
  position: absolute;
  height: 3px;
  width: 31px;
  background-color: $color-button-primary;
  border-radius: 5px;
}

%custom-scroll {
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 1px grey;
    }
    &::-webkit-scrollbar-thumb {
      background: $color-violet;
      border-radius: 10px;
    }
  }