:root {
  --white: #ffffff;
  --text-primary: #544837;
  --header-primary: #2f281e;
  --tag-primary: #f5f5f5;
  --tag-secondary: #d7d7d7;
  --accent: #ff9900;
  --button-primary: #173a56;
  --button-secondary: #bcd0e5;
  --button-hover: #ff7549;
  --link-primary: #1943ef;
  --placeholder-primary: #c6c6c6;
  --placeholder-error: #f03e3d;
  --icon-blue: #4dadf7;
  --icon-purple: #7752be;
  --icon-red: #f03e3d;
  --icon-yellow: #fab005;
  --background: #ffeee1;
  --background--error: #fff0f0;
}
