@use "../utils/mixins" as *;
@use "../utils/placeholders" as *;
@use "../utils/constants" as *;

.button {
  padding: 9px 25px 10px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  border-radius: 4px;
  cursor: pointer;
  @extend %font-primary;
  @extend %transition;

  &--bordered {
    color: $color-button-primary;
    background-color: $color-light;
    border: 1px solid $color-button-secondary;
    &:hover {
      background-color: $color-button-secondary;
      border-color: $color-button-secondary;
    }
  }

  &--colored {
    color: $color-light;
    background-color: $color-accent;
    border: 1px solid $color-accent;
    &:hover {
      background-color: $color-button-hover;
      border-color: $color-button-hover;
    }
  }
}
