@use "../utils/mixins" as *;

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif; 
  @include font(1.6rem, 2.6rem, 400);
}

a {
  text-decoration: none;
}

p {
  color: var(--text-primary);
}

h1 {
  font-family: "Poppins", sans-serif;
  @include font(4.4rem, 5.4rem, 700);
}

h2 {
  @include font(3.4rem, normal, 700);
}

h3 {
  @include font(2.4rem, 3.4rem, 700);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-header {
  margin: 0;
  padding: 0;
}
