html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

p {
  color: var(--text-primary);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.4rem;
}

h2 {
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.4rem;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-header {
  margin: 0;
  padding: 0;
}
