@use "../utils/mixins" as *;
@use "../utils/placeholders" as *;
@use "../utils/constants" as *;

.hamburger {
  display: none;
  width: 31px;
  height: 25px;
  position: relative;

  @include media-tablet {
    display: block;
  }

  &::before {
    @extend %hamburger-line;
    top: 0;
    left: 0;
  }

  &::after {
    @extend %hamburger-line;
    bottom: 0;
    left: 0;
  }
}

.hamburger__line {
  @extend %hamburger-line;
  top: calc(50% - 1.5px);
  display: block;
}
