.promo__link, .navigation__link:hover, .logo-path, .button {
  transition: all 0.3s ease-out;
}

.button, body {
  font-family: "Open Sans", sans-serif;
}

.promo__link, h1 {
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "Poppins";
  src: url(../../../assets/fonts/Poppins-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../../../assets/fonts/Poppins-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../../../assets/fonts/Poppins-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../../assets/fonts/OpenSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../../assets/fonts/OpenSans-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../../assets/fonts/OpenSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

p {
  color: var(--text-primary);
}

h1 {
  font-size: 4.4rem;
  line-height: 5.4rem;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 3.4rem;
  line-height: normal;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-header {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1197px;
}

.layout-4-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-columns > * {
  flex-basis: 22%;
}

.layout-3-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-columns > * {
  flex-basis: 31%;
}

.button {
  padding: 9px 25px 10px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  border-radius: 4px;
  cursor: pointer;
}
.button--bordered {
  color: #173a56;
  background-color: #ffffff;
  border: 1px solid #bcd0e5;
}
.button--bordered:hover {
  background-color: #bcd0e5;
  border-color: #bcd0e5;
}
.button--colored {
  color: #ffffff;
  background-color: #ff9900;
  border: 1px solid #ff9900;
}
.button--colored:hover {
  background-color: #ff7549;
  border-color: #ff7549;
}

.logo-path {
  cursor: pointer;
}

.logo-svg:hover .logo-path {
  fill: #ff9900;
}

.header {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 9px 0 17px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__buttons {
  display: flex;
  gap: 17px;
}

.header__navigation {
  min-width: 303px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 27px;
}

.navigation__link {
  padding: 0 10px 0 0;
  color: #2f281e;
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-weight: 400;
  font-style: normal;
}
.navigation__link:hover {
  color: #ff9900;
}

.icon {
  cursor: pointer;
  display: inline-block;
}
.icon--play {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background-image: url("/assets/icons/triangle.svg");
  vertical-align: sub;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.promo__content {
  padding-top: 80px;
  padding-right: 67px;
  color: #544837;
}

.promo__text {
  padding-top: 12px;
  padding-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 400;
  font-style: normal;
}

.promo__button {
  font: inherit;
  padding: 13px 41px;
  margin-right: 42px;
  font-weight: 700;
}

.promo__link {
  color: #ff9900;
  text-decoration: solid underline;
}
.promo__link:hover {
  color: #ff7549;
}

.contact-us {
  background: #ffeee1;
}

/*# sourceMappingURL=style.css.map */
