.footer-navigation__links a, .strategy, .strategy__header, .promo__link, .navigation__link:hover, .logo-path, .button {
  transition: all 0.3s ease-out;
}

.button, body {
  font-family: "Open Sans", sans-serif;
}

.footer-navigation__links, .promo__text, .promo__link, h1 {
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "Poppins";
  src: url(../../../assets/fonts/Poppins-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../../../assets/fonts/Poppins-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../../../assets/fonts/Poppins-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../../assets/fonts/OpenSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../../assets/fonts/OpenSans-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../../assets/fonts/OpenSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

p {
  color: #544837;
}

h1 {
  font-size: 4.4rem;
  line-height: 5.4rem;
  font-weight: 700;
  font-style: normal;
  color: #2f281e;
}

h2 {
  font-size: 3.4rem;
  line-height: normal;
  font-weight: 700;
  font-style: normal;
  color: #2f281e;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: 700;
  font-style: normal;
  color: #2f281e;
}

h4 {
  font-size: 2.2rem;
  line-height: normal;
  font-weight: 600;
  font-style: normal;
  color: #2f281e;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-header {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1197px;
}

.layout-4-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-columns > * {
  flex-basis: 21.7%;
}

.layout-3-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-columns > * {
  flex-basis: 31%;
}

.layout-2-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-columns > * {
  flex-basis: 48%;
}

.button {
  padding: 9px 25px 10px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  border-radius: 4px;
  cursor: pointer;
}
.button--bordered {
  color: #173a56;
  background-color: #ffffff;
  border: 1px solid #bcd0e5;
}
.button--bordered:hover {
  background-color: #bcd0e5;
  border-color: #bcd0e5;
}
.button--colored {
  color: #ffffff;
  background-color: #ff9900;
  border: 1px solid #ff9900;
}
.button--colored:hover {
  background-color: #ff7549;
  border-color: #ff7549;
}

.tools__button {
  display: block;
  width: 172px;
  height: 53px;
  margin: 0 auto;
}

.logo-path {
  cursor: pointer;
}

.logo-svg:hover .logo-path {
  fill: #ff9900;
}

.header {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 9px 0 17px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__buttons {
  display: flex;
  gap: 17px;
}

.header__navigation {
  min-width: 303px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 27px;
}

.navigation__link {
  padding: 0 10px 0 0;
  color: #2f281e;
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-weight: 400;
  font-style: normal;
}
.navigation__link:hover {
  color: #ff9900;
}

.icon {
  cursor: pointer;
  display: inline-block;
}
.icon--play {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background-image: url("/assets/icons/triangle.svg");
  vertical-align: sub;
}
.icon--phone {
  width: 25px;
  height: 25px;
  margin-right: 9px;
  background-image: url("/assets/icons/phone.svg");
  vertical-align: sub;
}
.icon--mail {
  width: 25px;
  height: 25px;
  margin-right: 9px;
  background-image: url("/assets/icons/email.svg");
  vertical-align: sub;
}

.icon__square {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon__square--purple {
  background-image: url("/assets/icons/arrow.svg");
  background-color: #7752be;
}
.icon__square--yellow {
  background-image: url("/assets/icons/curve.svg");
  background-color: #fab005;
}
.icon__square--red {
  background-image: url("/assets/icons/heart.svg");
  background-color: #f03e3d;
}
.icon__square--blue {
  background-image: url("/assets/icons/sand-clock.svg");
  background-color: #4dadf7;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.promo__content {
  padding-top: 83px;
  padding-right: 67px;
}

.promo__text {
  padding-top: 12px;
  padding-bottom: 40px;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 400;
  font-style: normal;
}

.promo__button {
  font: inherit;
  padding: 13px 41px;
  margin-right: 42px;
  font-weight: 700;
}

.promo__link {
  color: #ff9900;
  text-decoration: solid underline;
}
.promo__link:hover {
  color: #ff7549;
}

.tools {
  padding-top: 82px;
  padding-bottom: 90px;
  background-image: url("/assets/images/background.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.tools__header {
  text-align: center;
  margin: auto;
  max-width: 462px;
  color: #2f281e;
}

.tools__wrapper {
  padding: 70px 0 42px;
}

.tool__icon {
  margin-bottom: 30px;
}

.strategies {
  padding-top: 28px;
  padding-bottom: 96px;
}

.strategies__layout {
  margin-top: 30px;
  row-gap: 30px;
}

.strategies__description {
  margin-bottom: 23px;
}

.strategies__tags {
  display: flex;
  gap: 9px;
}

.strategy {
  padding-bottom: 26px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
.strategy:hover {
  cursor: pointer;
  box-shadow: none;
}
.strategy:hover > .strategy__content > .strategy__header {
  color: #ff9900;
}

.strategy__content {
  padding: 18px 34px 0;
}

.strategy__header {
  margin-bottom: 30px;
}

.tag {
  display: inline-block;
  padding: 0px 13px;
  border-radius: 90px;
  color: #544837;
  font-size: 1.3rem;
  line-height: 2.8rem;
  font-weight: 400;
  font-style: normal;
}
.tag--selected {
  color: #ffffff;
  background-color: #ff9900;
}
.tag--filter {
  border: 1px solid #d7d7d7;
}
.tag--attached {
  background-color: #f5f5f5;
}

.about-us__text {
  padding-bottom: 30px;
}

.about-us {
  padding-bottom: 100px;
}

.employee {
  padding: 32px 0 35px 35px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}

.employee-wrapper {
  padding-right: 25px;
}

.employee__name {
  color: #544837;
  margin: 0;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 700;
  font-style: normal;
}

.employee__role {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
}

.employee__email {
  display: block;
  margin: 0;
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: 400;
  font-style: normal;
}

.employee__photo {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0px;
  right: -60px;
}

.contact-us {
  padding: 62px 0 70px;
  background: #ffeee1;
}

.contact-us__content {
  padding-right: 50px;
}

.contact-us__text {
  margin-bottom: 36px;
}

.contact-us__link {
  color: #544837;
  font-size: 2.5rem;
  line-height: 2.6rem;
  font-weight: 400;
  font-style: normal;
}

.contact-us__form {
  padding-top: 16px;
}
.contact-us__form input, .contact-us__form textarea {
  border: none;
  background-color: #ffffff;
  padding: 10px 22px;
  border-radius: 5px;
  resize: none;
}
.contact-us__form input:focus, .contact-us__form textarea:focus {
  outline: 1px solid #ff9900;
}

.contact-us__line {
  margin-bottom: 19px;
}

.contact-us__button {
  min-width: 117px;
}

.footer {
  padding: 54px 0 72px;
}

.footer__wrapper {
  display: flex;
}

.footer-navigation {
  flex-grow: 1;
  margin-left: 152px;
}

.footer-navigation__title {
  margin-bottom: 15px;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  font-style: normal;
}

.footer-navigation__links a {
  color: #544837;
  font-size: 1.6rem;
  line-height: 3.4rem;
  font-weight: 400;
  font-style: normal;
}
.footer-navigation__links a:hover {
  color: #ff9900;
}

/*# sourceMappingURL=style.css.map */
